<!DOCTYPE html>
<html>
    <head>
        <script src="file:///C:/Users/Chetan/Desktop/node-course/event-app/public/js/fetchEvents.js"></script> 
    </head>

    <body>
        <h1>Welcome to Event-App</h1>

        <input type="button"  value="Create Events" />
        <button id="Events">Show events</button>
        <input type="button" value="Use filter" />
         <p id="showData"></p>
        <p>Created by Kajal </p>
    </body>
</html>